language: csharp
before_deploy:
  - cd src/Fable.Arch
deploy:
  provider: npm
  email: tomas.jansson@gmail.com
  api_key:
    secure: qTksJDsQtgnDiEoVdT6AMEIaZ5kxAE+2A2KJvL/8AlZQ2db0ZOo+yAX2EHukK2dEH82wlr3cLabcwKGz+QK7EoZzMJ+b6G+/RRzl1jGbPDza5Jyuq9Iae9BCLWKgOxSJiFF4GdQbNex+FpN/sbQEGcoMwQ3AIbaHbvWhccMgsUXEXaQz4OFtBar0roxC64gSfE0ecapdbW7mDcSNhrUgpujXhd+kuaaBu91Mc6EDXMgf3tCoDFI/Dno+4T7S4rZHqX3Y+PCDNXPIQzSAA7rOX41pM14+3s+g6/78KIxhgP03pkCY1EEN/RqhAXr7obAH4KdCOvuMKkWdRJkd/G0bgTDUz/VwVN0SK9tqN36LcPYGty9p2Af0hSbpaTVpcb4gzsZXq//8FPedvnhuocCuMP+FfiIl9lyEq0cXXa35Z3fS+bDDX4R0XMu2baejxh80pLl4VbQfS1XAUuMnckRWywm6ucUYv8lOnih1r4yDFk396eGY9Qahu9xIFfzKwk/r8Hcu8TiLTwE7EWzXlM2fy4fCn+s21ziNkdfNpNAHRmm1MFnasleNCdbeLOCuaYksb6AOK4XDF1MhN3665s+7VM0uMP0NkgTdX20U6oCHPLmMmdHBpWAMUxPO184KdEKqefRlLHkJGAySdT6Uw/3gS+1oaXMEPgKMlEsPMky2ePo=
  on:
    repo: fable-compiler/fable-arch
before_script:
- npm install -g npm@'>=3'
script: ./build.sh
